h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif;
  color: #ffd700; }

h1:nth-of-type(1) {
  font-size: 2rem;
  font-weight: bold; }

h2:nth-of-type(2) {
  font-size: 1.8rem;
  font-weight: bold; }

h3:nth-of-type(3) {
  font-size: 1.6rem;
  font-weight: bold; }

body {
  background-color: #111; }

.container {
  background-color: #111; }

.search-bar {
  display: flex;
  align-items: center; }
  .search-bar input[type="text"] {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f2f2f2;
    border-radius: 4px; }
  .search-bar button[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px; }

.contenedor-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .contenedor-botones .agregar-carrito {
    background-color: #FFD700;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #FFD700;
    text-decoration: none; }
    .contenedor-botones .agregar-carrito:hover {
      background-color: #333;
      color: #FFD700; }

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start; }
    header a img {
      margin-bottom: 10px; }
  nav ul {
    flex-direction: column; }
  nav li {
    margin-right: 0;
    margin-bottom: 10px; }
  .search-bar {
    margin-top: 10px; } }

nav {
  display: flex;
  align-items: center; }

nav ul {
  list-style: none;
  margin-right: auto;
  display: flex; }

nav li {
  margin-right: 10px;
  border: 1px solid #ccc;
  display: inline-block; }

nav a {
  color: #FFD700;
  text-decoration: none; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333; }
  header a img {
    width: 50px; }

footer {
  text-align: center; }
  footer img {
    width: 50px;
    height: 50px; }
  footer ul {
    list-style: none;
    margin: 10px 0; }
    footer ul li {
      display: inline-block;
      margin: 0 10px; }
      footer ul li a {
        color: #ffd700;
        text-decoration: none; }
  footer p {
    color: #ffd700;
    font-style: italic; }

footer a:visited {
  color: purple; }

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 900px;
  margin: auto; }
  form label {
    margin-bottom: 10px; }
  form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; }
  form button[type="submit"] {
    padding: 10px 20px;
    background-color: #8b7703;
    border: 2px solid #FFD700; }
  form label,
  form input[type="email"],
  form button[type="submit"] {
    color: #F2F2F2; }

main {
  position: relative; }
  main img {
    width: 100%;
    max-height: 300px;
    object-fit: cover; }

/*  Articulos index*/
article {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 30%;
  margin-right: 1rem; }

.productos {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

p {
  margin-top: 10px; }

.ver-todos {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #FFD700;
  color: #333;
  padding: 0.5rem 1rem;
  border: 2px solid #FFD700;
  text-decoration: none;
  width: 100px; }
  .ver-todos:hover {
    background-color: #333;
    color: #FFD700; }

.video-container {
  display: flex;
  align-items: center; }
  .video-container iframe {
    width: 100%;
    aspect-ratio: 16/9; }

.Titulo.promocional {
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffd700;
  text-align: center; }

.productos-promocionales {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; }
  .productos-promocionales img {
    width: 100%;
    height: auto; }

/* PRODUCTOS, MENU DESLIZABLE */
.carousel-container {
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none; }
  .carousel-container .carousel {
    display: flex;
    scroll-behavior: smooth; }
    .carousel-container .carousel .slide {
      flex: 0 0 100%;
      scroll-snap-align: start;
      text-align: center; }
      .carousel-container .carousel .slide h3 {
        font-size: 24px; }
      .carousel-container .carousel .slide img {
        width: 70%;
        height: auto; }

.titulo-principal {
  text-align: center;
  border: 2px solid #FFD700;
  padding: 10px; }
  @media screen and (max-width: 600px) {
    .titulo-principal {
      font-size: 24px; } }

/*EVENTOS HISTORICOS*/
.hechos-historicos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; }
  .hechos-historicos a {
    display: flex;
    align-items: center;
    margin-right: 10px; }
  .hechos-historicos img {
    width: 200px;
    height: auto;
    margin-bottom: 10px; }
  .hechos-historicos hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc; }

.frase-dia {
  text-align: center;
  font-style: italic;
  clear: both;
  margin-top: 10px; }
  .frase-dia p {
    color: white;
    font-style: italic;
    margin-top: 10px; }

.box {
  background-color: gold;
  padding: 20px; }

.main-title,
h2,
p {
  color: #FFD700; }

.equipo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .equipo .titulo-equipo {
    font-size: 1.8rem;
    margin-left: 0; }
  .equipo .miembro {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .equipo .miembro img {
      width: 150px;
      margin-right: 20px; }
  .equipo .texto-miembro {
    text-align: left; }
    .equipo .texto-miembro h3 {
      font-size: 1.4rem; }
    .equipo .texto-miembro p {
      font-size: 1rem; }

section p {
  color: white; }

.testimonios {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .testimonios .testimonio {
    flex: 1;
    min-height: 120px;
    padding: 20px;
    margin: 0 10px;
    background-color: #FFD700; }
    .testimonios .testimonio p {
      color: #444;
      font-style: italic; }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .contacto .conocimiento,
  .contacto .formulario {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
    color: black; }
    .contacto .conocimiento input[type="checkbox"],
    .contacto .formulario input[type="checkbox"] {
      margin-bottom: 10px;
      color: black; }
    .contacto .conocimiento input[type="text"],
    .contacto .conocimiento input[type="tel"],
    .contacto .conocimiento textarea,
    .contacto .formulario input[type="text"],
    .contacto .formulario input[type="tel"],
    .contacto .formulario textarea {
      margin-bottom: 10px;
      color: black; }
    .contacto .conocimiento input[type="submit"],
    .contacto .formulario input[type="submit"] {
      display: block;
      margin-top: 10px; }
    .contacto .conocimiento p,
    .contacto .formulario p {
      color: black; }
