header {
    background: linear-gradient(to right, #111, #444);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;

    a img {
    width: 50px; 
    }
}
@keyframes zoom-in {
    from {
    transform: scale(1);
    }
    to {
    transform: scale(1.2);
    }
}

header a img {
    transition: transform 0.3s ease; 
    &:hover {
    animation: zoom-in 0.3s forwards; 
    }
}
